:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    ion-button {
        margin: 8px 0;
    }
    ion-list{
        --ion-item-background: transparent;
    }
}