<ion-header class="ion-no-border" mode="md">
  <ion-toolbar color="primary">
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header>
<div class="content">
  <ul class="stage-list">
    <li>
      <h6>Input:</h6>
      <ul class="rules-list">
        <li>Fill the four input fields with a word starting with the given letter for each of the four category, viz., Name, Place, Thing, and Animal.</li>
        <li>You have maximum alotted time of 30 seconds to submit your inputs. You can lock your inputs before the alloted time to earn bonus points.</li>
        <li>You can change your inputs even after locking. Just be sure to lock your inputs again for the changes to be registered.</li>
      </ul>
    </li>
    <li>
      <h6>Assessment:</h6>
      <ul class="rules-list">
        <li>Your inputs will be first matched against our dictionary words to assess the correctness of the word. Valid inputs will be highlighted in Green.</li>
        <li>Invalid inputs will be shown as striked-off words.</li>
        <li>The rest of the input will be assessed by a majority of upvotes by the players.</li>
        <li>To upvote an answer, tap once on the word chip. Tapping again will discard your upvote.</li>
        <li>Once a word gains majority upvote, it will be considered a valid input and highlighted in Green.</li>
        <li>When there is two or more instances of the same word in the same category, it will be highlighted in a shade of Yellow.</li>
        <li>If a word has been used in a previous round, it will be considered as invalid.</li>
      </ul>
    </li>
    <li>
      <h6>Score:</h6>
      <ul class="rules-list">
        <li>Scoring will be done by the app itself based on the following rules-</li>
        <li>Each correct and unique answer will carry 10 points each.</li>
        <li>Correct but non-unique answers will carry 5 points each.</li>
        <li>Time bonus will be calculated as <br /><var>t</var> / <var>30</var> x <var>initial-score</var><br />where <var>t</var> is the time left after locking your answers.</li>
      </ul>
    </li>
  </ul>
</div>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-button (click)="dismissPopover()">DISMISS</ion-button>
  </ion-toolbar>
</ion-footer>