:host {
  #container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

ion-title {
  margin-left: 40px;
  text-align: center;
}

ion-img {
  height: 56px;
}

  :host {
    .landscape#container {
      flex-direction: row;
    }
  }
