<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/icon/logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh()">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <div id="container" [class]="this.orientation">
    <app-game [class]="this.orientation" [style.height]="sectionHeight"></app-game>
    <app-chat [class]="this.orientation" [room]="room" [style.height]="sectionHeight"></app-chat>
  </div>
</ion-content>